<html>
	<body>
		<div class='erros'>
			<%if(errosValidacao){%>
				<ul>
				<%for(var i=0;i<errosValidacao.length;i++){%>
					<li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
				<%}%>
				</ul>
			<%}%>
		</div>
		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Título</label>
				<input type="text" name="titulo" value="<%=produto.titulo%>" placeholder="Coloque o titulo do livro">
			</div>
			<div>
				<label for="preco">Preço</label>
				<input type="text" name="preco" value="<%=produto.preco%>" placeholder="Coloque o preco do livro">
			</div>
			<div>
				<label for="descricao">Descrição</label>
				<textarea cols="20" rows="10" name="descricao" placeholder="Coloque a descricao do livro"></textarea>
			</div>
			<input type="submit" value="Gravar"/>
		</form>
	</body>
</html>